/* Reset css start*/

@import 'reset';

/* Reset css end*/

$font-stack: Helvetica,
sans-serif;
$primary-color: green;
body {
    color: $primary-color;
    a {
        text-decoration: none;
    }
    h1 {
        font-size: 20px;
    }
    h3 {
        color: #5a010f;
    }
    h2 {
        color: #804040;
    }
}

$header-color:blue;
div {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

// We can use common namespace for properties
h1 {
    background: {
        color: green;
        size: cover;
    }
}

//Inheritance
.one {
    font-size: 32px;
    color: green;
    background-color: yellow;
    text-decoration: underline;
    padding: 2px;
    margin: 2px;
}

.two {
    @extend .one;
    padding: 0;
    margin: 0;
}

.three {
    @extend .two;
    padding: 5px;
    border: 2px solid gray;
}

div#box {
    width: 100px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 3px;
}