@import './reset';
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    color: green;
    font-family: $customFont;
}

.box {
    @include border-radius(10px);
}

.one {
    font-size: 20px;
}

.two {
    @extend .one;
    color: red;
}

.three {
    @extend .two
}