doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='CSS/bootstrap.min.css')
    title PC Repair
  body
    nav.navbar.navbar-expand-lg.bg-dark
      a.navbar-brand(href='/') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='about') About
          li.nav-item
            a.nav-link(href='contact') Contact
    .container
        block content  