<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <form action="/favorite_fruit" method="POST">
        <p>What is your favorite fruit?</p>
        {% for fruit in fruits %}
        <p>
            <input type="radio" name="fruit" value="{{fruit}}" />{{fruit}}
        </p>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
</body>

</html>